.lbl{
  color: #fff;
}
.seluruh{
  background-color: #333333;
}

.login {
        margin: 50px auto;
        width: 400px;
        padding: 10px;
        /* border: 1px solid #ccc; */
        /* background-color: #333333; */
    }
    input[type=text], input[type=password] {
        margin: 5px auto;
        width: 100%;
        padding: 10px;
    }
    .bc{
      color: blue;
    }
